body{
    width: 100%;
    height: 100%;
}
@font-face {font-family: "iconfont";
    src: url('../font/iconfont.eot?t=1488770552923'); /* IE9*/
    src: url('../font/iconfont.eot?t=1488770552923#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../font/iconfont.woff?t=1488770552923') format('woff'), /* chrome, firefox */
    url('../font/iconfont.ttf?t=1488770552923') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../font/iconfont.svg?t=1488770552923#iconfont') format('svg'); /* iOS 4.1- */
}
.head{
    width: 100%;
    height: 51px;
    background-color: #222e3c;
}
.head h1{
    display: inline-block;
    margin: 0px;
    color: #fff;
    font-size: 21px;
    line-height: 60px;
    padding-left: 20px;
}
.head .user{
    float: right;
    margin-right: 20px;
}
.head .user h1{
    font-size: 16px;
}
.head .user i{
    font-family: "iconfont" !important;
    font-size: 20px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    top: 1px;
    /* right: 29px; */
    color: #ffffff;
    margin: 10px;
}
.icon-tuichu:before { content: "\e654"; }
.content{
    width: 100%;
    height: 100%;
}
.content .leftNav{
    width: 200px;
    position: fixed;
    height: 100%;
    background: #35404c;
    z-index: 1;
}
.content .rightCon{
    padding-left: 200px;
    width: 100%;
    height: 100%;
    position: fixed;
}
.content .rightCon iframe{
    width: 100%;
    height: 100%;
    border: none;
}
.content .leftNav ul li{
    cursor: pointer;
}
.content .leftNav ul li a{
    color: #cbcbcb;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
    width: 100%;
    height: 100%;
    display: block;
    padding: 10px 20px;
}
.content .leftNav ul li.on{
    background: #085679 !important;
}
.content .leftNav ul li.on a{
    color: #fff;
}
.content .leftNav ul li:hover{
    background: #454f64;
    cursor: pointer;
}
.navbar{
    background-color: #232a32;
    color: #fff;
    margin-bottom: 0;
    font-family: "microsoft yahei";
}
.nav > li{
    display: inline-block;
}
.nav > li > a#user{
    display: inline-block;
    padding: 15px;
}
#head-nav a {
    color: #fff;
    cursor: pointer;
}
.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}
.leftNav i{
    margin-right: 10px;
}
.nav > li > a:hover, .nav > li > a:focus{
    text-decoration: none;
    background-color: #232a32;
    color: #b0e1ff !important;
}

/*弹出框*/
.conNews{
    background: #fff;
    position: absolute;
    top: 10%;
    left: 50%;
    width: 50%;
    margin-left: -25%;
    border: 1px solid #eee;
    box-shadow: 1px 1px 10px #000;
    border-radius: 6px;
    display: none;
    z-index: 100;
    margin-bottom: 100px;
}
.conNews .head{
    width: 100%;
    height: 45px;
    border-bottom: 1px solid #e7e7eb;
    line-height: 45px;
    text-align: center;
    background: #fff;
}
.conNews .head h1{
    font-size: 15px;
    margin: 0px;
    display: inline-block;
    color: #999;
    line-height: 30px;
}
.conNews .head i{
    font-style: normal;
    float: right;
    padding: 10px;
    line-height: 21px;
    font-size: 21px;
    color: #888;
    cursor: pointer;
    position: static;
    top: 0px;
    right: 0px;
}
.conNews ul{
    list-style:none;
}
.conNews ul li{
    width: 100%;
    padding: 10px;
    position: relative;
    text-align: center;
}
.conNews ul li i{
    font-style: normal;
}
.conNews ul li span{
    position: relative;
    top: -86px;
}
.conNews ul li input{
    width: 70%;
    border: 1px solid #eee;
    height: 28px;
    line-height: 28px;
    border-radius: 4px;
}
.btns3{
    text-align: center;
}
.btns3 a{
    display: inline-block;
    margin: 10px;
}